body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.timeslot {
  list-style: none;
  padding: 5px;
  color: gray;
  border: 2px blue solid;
  border-radius: 2px;
  margin-bottom: 3px;
}

.main-nav {
  display: flex;
  flex-direction: row;
}

.nav-link {
  list-style: none;
  border: 1px solid black;
  background-color: gray;
  color: white;
  border-radius: 2px;
  padding: 2px;
  margin-left: 5px
}

.nav-link a {
  color: inherit;
  text-decoration: none;
}

.workstation-container {
  list-style: none;
  border: 2px black solid;
  border-radius: 2px;
  padding: 5px;
  margin: 8px;
}

.workstation-selected {
  list-style: none;
  border: 4px green solid;
  border-radius: 2px;
}

.schedule-day {
  border: 2px black solid;
  border-radius: 4px;
}